html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  font-family: sans-serif;
}

.justify-self-end {
  margin-left: auto !important;
}

.container {
  height: 100%;
  display: flex;

  flex-direction: column;
}

header {
  min-height: 60px;
  display: flex;

  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  padding: 0 5px;

  background: #42b983;

  overflow-x: scroll;
}

main {
  height: 100%;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #2c3e50;
}

.login-modal {
  height: 140px;
  width: 250px;
  display: flex;

  flex-direction: column;
  justify-content: space-between;

  padding: 5px;

  border-top: #42b983 5px solid;
  border-radius: 3px;
  background: #fff;
  color: rgba(0, 0, 0, 0.85);

  h2 {
    margin: 0;
    margin-top: 0.4rem;
  }

  input {
    height: 1.5rem;

    padding-left: 0.3rem;

    border: #42b983 1px solid;
    border-radius: 2px;

    font-size: 1rem;

    outline: none;

    &:focus {
    }
  }

  button {
    padding: 5px;

    background: #42b983;
    color: white;

    border-radius: 2px;

    font-size: 1rem;

    outline: none;
  }
}

.menu-button {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 6px 10px;
  padding-left: 4px;

  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  color: white;
  font-size: 14px;

  cursor: pointer;

  white-space: nowrap;

  p {
    margin: 0;
  }

  &:not(:first-child) {
    margin-left: 5px;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.3);
  }
}

.torrent-list {
  height: 100%;
  display: flex;

  flex-direction: column;

  background: #2c3e50;

  .no-torrents {
    width: min-content;
    align-self: center;
    padding-left: 25px;
    padding-right: 25px;

    background: #526476;
    color: white;

    font-weight: bold;
    font-size: 1.5rem;
  }
}

.torrent {
  height: 50px;
  display: flex;

  flex-direction: column;
  justify-content: center;

  margin: 5px 3px;
  padding: 2px 5px;

  background: white;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.8);

  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;

  > p {
    white-space: nowrap;
    margin: 0;
  }

  .status {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.8rem;
  }
}

.torrent-add {
  height: 100%;
  display: flex;

  flex-direction: column;

  background: #2c3e50;

  textarea {
    padding-top: 5px;
    padding-bottom: 5px;

    font-size: 0.8rem;
  }

  select, input {
    flex-direction: row;

    font-size: 1rem;
  }

  .path {
    height: fit-content;

    background: #526476;
    color: white;

    font-weight: bold;
  }
}

.progress-bar {
  height: 6px;
  width: 100%;
}

.torrent-details {
  height: 100%;
  display: flex;

  flex-direction: column;
  justify-content: flex-start;

  background: #2c3e50;
}

.blue {
  height: fit-content;

  padding-top: 5px;
  padding-bottom: 5px;

  background: #526476 !important;
  color: white !important;

  font-weight: bold;

  span {
    word-break: break-all;
  }
}
